dist: focal
language: python
python:
- '3.12'
install:
- pip install -r requirements.txt
script:
- black --check .
- flake8 --exclude=eb-virt
- coverage run --source=polls manage.py test polls.testsuite
after_success:
-  coveralls --service=travis-pro
deploy:
  provider: elasticbeanstalk
  region: us-east-1
  access_key_id: "$AWS_ACCESS_KEY_ID"
  secret_access_key: "$AWS_SECRET_ACCESS_KEY"
  app: mr-swe1-app-clean
  env: mr-swe1-app-clean-env
  bucket_name: elasticbeanstalk-us-east-1-577638393804
  on:
    branch: main
env:
  global:
  - secure: Z67Pb+JEG+wphuxOqVcLrLRqx4P25IcjuHAjfd1qXMKWnFB3o46bto8jPyWQ6rfX6Rprmh8EVxQJog7r2qr/D4mZAkN9OyKgnRK8xF51YqYSVFDjY1xnMc3U/kxqOEf+Ck49aD79ySRWHhncuigGOVLIFIhK9a6WU675s6nXnRR+/t9rPcPVFC0ErPjo7z1jW8LJl4HohMra+nZjaC/maZkkm8l7hK7g+hIuUxIfPVcLestWI+CmBSU54SjGUhxdC98A460Ixuuz981tktEvj/bS1/Mw2nCIl2FVOXMvjH9Pxv7xemigA4lXCN48nq5JALShI7q8U20AsPvYi8k5vE7IDwy0cdNibsAEo4TD0ws7FrpGdktTP0qOyDLelonLZe4yHgMhzz48raU1vZMNdrC+INR5YBv2CYkn54Y6n0zidp554tvsGkfDce/dU6eVopOZdEdZbp5RuJuiN/ChddIDJhfEdjdwyvynaAz1u9C5JaB0vAMu3cC9wrygx2GEZb+BmvDFFM7RT8LPi4POTj/7YHFIjIrGUE9OXQgd2ZZEnbtw5M2ImPvIujh6Errn3JU9e+JpbWD8Tg6ae/BIai7fFNQpEo/wYnCdkuPI3ZIUJJHmLJX1rvOC6SFSQhvg3nljELkoc2RMu4QBwC6MccjZBHJFhTkNGGZgzEljZL4=
  - secure: y/DKwviEbTKyzyG3r7PFKfBtqqjfKM76bTFe5/+nWFXSX3p2bUtdZD1oBt1OhY0kDsSHSP5Xsh3FvZnd6KoU34gbWfjp+0b5kTou+Vt5RqQUaFAl2DsW/afewr4Gb+6yOahIXuuOu1E3bGzDgNzxmtvx9fD9naFfLx/YgmZQIsGK3TuGhpZ6KQ4LZ91qDj98ntLecg85YwyOnTj13VmYjFr+5cQaMupyGH7tTrt9VbP3C2VpyImLrYWT7PGCMi/RSxJV/Ayu71fPkYW0ZsrPKo1uL4DbKblTr++6RBMl5axT09EupRH9I414gRwEvqrU0JjNoIJHxqKN2XZo0XL7uOxjv94pfEBqw2lHAuAUuYWqSgE6G9XEIMYTjjGjTaKvGw7x1etgT5ptXN7rIW+o2UgeYHrwWFa0fnek4N+4J3Zb8Ia+KvS0BnXNRwERkJfy1gk+eKq/5prTZmNefY4UYRHpunHOk/fyhzapeMeSTcn5IVD4d8cuNb8qHobbcI6g6nyQQk+Cg5X3BSi7CuLsGvdDz2HSWBqauFvfcmAfFqAAM+3YAZwvwi/7uZOrFaAT/oD0GhM3S7TSkbmVvP7cO2oXvvqNLP+94mBPzkC5mNARIwgKADPrlRAPfFrFT6S++/7ApLqOzCTnDdU682shUt5CRx00dijQuiTyoMdsxZo=
  - secure: IcqqEMbP9QUEdL+P24LbmNcOo2HZUsHHhv8Gf8FVNiPsIItEav3FhnTHH5uYpmp8jmpZgkVZL1EixQtUv2UEFYqzVm3zv1SgcY0DTjihLIOV8NTEua6hN12XcWysoDmC0SC4ZKucuh82lYG2rfsuF/RhAyFNwdZu1qte/8BFiMsAEQkAeYRKqCVwz5vX1q8kFlykA14H7TZX5t7Nw2WYOviwBxn5OPUehAQN8T0uV+EgvgflPbC6l322y3DwZtzOeAfewEo6PnwtGr5CiV/o0H3yW9emz73hQLvmRIkIVCnjNnSkJc4HABFtOWbXPKe/quIifod47sCKvB8xH7j87IzYUkrw2HvysmKndwCzmqEeqImj70C5/hm6bDbBeqhnEGAre50ioounmsrtZGqxVSHZaKdCT+KWFpSRJZp+BAO0Rx46HQNuax27UWI3bkPpYQc9DgRuFOv9r2NvrCQv68fCE0CEoqhs8VEthVKNNZxIZ8Cfd/tqCuPZtw5yiJqnWOnkHJULoOJb+c7mSvgAdSekh3y7Lscq6342rf5JJ3VWbuky5DwyO0TLapTKBJBDinR0Nf6GaaMqlxppANIbK3LOCjsxtiZk6op9KN/4Qad2+YIYexm/aG0E6DpdT9CtupZeX+rqkXHH2WCj5Gqx5ftQVY2lj9mXGBr+Jxag2Tk=
